---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
---

<header class="px-8 bg-stone-50 shadow-lg relative">
  <nav class="flex items-center justify-between">
    <h2 class="text-emerald-900 font-serif italic text-2xl">
      <a href="/">{SITE_TITLE}</a>
    </h2>

    <div class="flex">
      <HeaderLink href="/">Home</HeaderLink>
      <!-- <HeaderLink href="/work">Work</HeaderLink> -->
      <HeaderLink href="/talks">Talks</HeaderLink>
    </div>

    <SocialLinks class="hidden sm:flex" />
  </nav>
</header>
