---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    "text-slate-800 hover:decoration-slate-800 px-2 py-4 border border-0 hover:underline hover:underline-offset-2",
    {
      "border-b-4 border-emerald-500 font-semibold hover:no-underline":
        isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
