---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
---

<header class="px-8 bg-stone-50 shadow-lg relative">
  <nav class="flex items-center justify-between">
    <h2 class="text-emerald-800 font-serif text-2xl">
      <a href="/" class="inline-flex items-center gap-2">
        <img src="/copper-watering-can.png" class="w-9" />
        <span class="pt-2">{SITE_TITLE}</span>
      </a>
    </h2>

    <div class="flex">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/garden">Garden</HeaderLink>
      <HeaderLink href="/illustrations">Illustrations</HeaderLink>
      <HeaderLink href="/talks">Talks</HeaderLink>
    </div>

    <SocialLinks class="hidden sm:flex" />
  </nav>
</header>
